<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xnh.datacenter.user.mapper.UserMapper">
  
  
  <!--ResultMap-->
  <resultMap id="BaseResultMap" type="cn.xnh.datacenter.user.model.UserDO">
    <id column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="create_person" property="createPerson" />
    <result column="update_person" property="updatePerson" />
    <result column="is_delete" property="isDelete" />
    <result column="mobile_phone" property="mobilePhone" />
    <result column="email" property="email" />
    <result column="passwd" property="passwd" />
    <result column="status" property="status" />
    <result column="openid_weixin" property="openidWeixin" />
    <result column="last_login" property="lastLogin" />
    <result column="certification" property="certification" />
  </resultMap>
  
  
  <!--基础列-->
  <sql id="Base_Column_List">
    id, create_time, update_time, create_person, update_person, is_delete, mobile_phone, 
    email, passwd, status, openid_weixin, last_login, certification
  </sql>
  
  
  <!--根据ID删除-->
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from t_user
    where id = #{id}
  </delete>
  
  
  <!--添加-->
  <insert id="add" parameterType="cn.xnh.datacenter.user.model.UserDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user (create_time, update_time, create_person, update_person, is_delete, 
      mobile_phone, email, passwd, status, openid_weixin, last_login, 
      certification)
    values (now(), now(), #{createPerson}, #{updatePerson}, 0,
      #{mobilePhone}, #{email}, #{passwd}, #{status}, #{openidWeixin}, #{lastLogin}, 
      #{certification})
  </insert>
  
  
  <!--根据ID查询-->
  <select id="queryById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" /> from t_user
    where id = #{id}
  </select>
  
  
  <!--根据参数分页查询-->
  <select id="queryPage" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" /> from t_user
  </select>
  
  
  <!--根据ID更新-->
  <update id="updateById" parameterType="cn.xnh.datacenter.user.model.UserDO">
    update t_user
    set create_time = #{createTime},
      update_time = #{updateTime},
      create_person = #{createPerson},
      update_person = #{updatePerson},
      is_delete = #{isDelete},
      mobile_phone = #{mobilePhone},
      email = #{email},
      passwd = #{passwd},
      status = #{status},
      openid_weixin = #{openidWeixin},
      last_login = #{lastLogin},
      certification = #{certification}
    where id = #{id}
  </update>
  
  
  <!--根据ID选择性更新-->
  <update id="updateByParams" parameterType="cn.xnh.datacenter.user.model.UserDO">
    update t_user
    <set>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      update_time = now(),

      <if test="createPerson != null">
        create_person = #{createPerson},
      </if>
      <if test="updatePerson != null">
        update_person = #{updatePerson},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete},
      </if>
      <if test="mobilePhone != null">
        mobile_phone = #{mobilePhone},
      </if>
      <if test="email != null">
        email = #{email},
      </if>
      <if test="passwd != null">
        passwd = #{passwd},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="openidWeixin != null">
        openid_weixin = #{openidWeixin},
      </if>
      <if test="lastLogin != null">
        last_login = #{lastLogin},
      </if>
      <if test="certification != null">
        certification = #{certification},
      </if>
    </set>
    where id = #{id}
  </update>
  
  
</mapper>